# Configurações do MediaMTX Server
STREAM_NAME=cam1
SRT_PORT=9000
HLS_PORT=8888
WEBRTC_HTTP_PORT=8554
WEB_PORT=8080

# Configurações opcionais
# AUTH_ENABLED=false
# PUBLISH_USER=admin
# PUBLISH_PASS=secret
# READ_USER=viewer
# READ_PASS=123456
